<div class="row">
    <div class="col-md-12">
        <div class="jumbotron" pDroppable (onDrop)="dropFiles($event)">
                <h1 i18n>Convert to PDF</h1>
                <p i18n>Convert your files to PDF online and free! Just drop files here or click the button</p>
                <form id="UploadForm" method="post" enctype="multipart/form-data" action="/">
                    <div>
                        <label class="btn btn-lg btn-danger" for="InputFile" i18n>Select files</label>
                        <input type="file" class="hidden-file-input" id="InputFile" name="InputFile"
                         (change)="convert($event)" multiple="multiple"/>
                    </div>
                </form>
        </div>
    </div>
</div>

<div class="progress" *ngIf="processingFilesCount > 0">
  <div class="progress-bar progress-bar-striped progress-bar-danger active" role="progressbar" style="width:100%" i18n>
    Please wait...
  </div>
</div>

<div class="alert alert-danger" *ngFor="let error of errors">
    <button class="close" aria-label="close" title="close" (click)="deleteError(error); $event.stopPropagation()">×</button>
    <strong i18n>Error!</strong> {{error.message}}
</div>

<div class="panel panel-default" *ngIf="convertJobs && convertJobs.length > 0">
    <div class="panel-heading">
        <div class="pull-right" style="margin-top:-2px;">
            <div class="btn-group btn-group-xs">
                <a href="api/converter/v1/files/getBySession?sessionId={{sessionId}}&random={{randomValue}}" class="btn btn-default" i18n>
                    Download all
                </a>
                <button type="button" class="btn btn-default" (click)="deleteAll();" i18n>
                    Delete all
                </button>
            </div>
        </div>
        <h3 class="panel-title" i18n>Converted files</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let convertJob of convertJobs">
            <ng-container *ngIf="convertJob.outputFile; else convertErrorBlock">
                <span class="pdf-icon"></span>
                <div class="pdf-info">
                    <a href="api/converter/v1/files/{{convertJob.outputFile.fileId}}">{{convertJob.outputFile.fileName | slice:0:-4}}</a>
                    <small class="text-muted">{{convertJob.outputFile.fileSize / 1024 | number:'1.0-2'}} <ng-container i18n>Kb</ng-container></small>
                </div>
            </ng-container>
            <ng-template #convertErrorBlock>
                <span class="error-icon"></span>
                <div class="pdf-info">
                    <div>{{convertJob.inputFile.fileName}}</div>
                    <small class="text-muted"><ng-container i18n>Error:</ng-container> {{convertJob.errorType | errorDescription}}</small>
                </div>
            </ng-template>
        </li>
    </ul>
</div>


<div class="row">
    <div class="col-md-3">
        <h2 i18n>Excellent tool</h2>
        <p><ng-container i18n>We can convert to PDF more than</ng-container>
        <a href="#" data-toggle="modal" data-target="#supportedFormatsModal" i18n>250 different file types</a><ng-container i18n>, support all platforms and mobile devices. We do it for free, because we don't use any 3rd party commercial software. Your privacy is very important to us. We are using https for encrypting and delete all your files from our servers forever after one hour.</ng-container>
        </p>
        <p><a class="btn btn-default btn-sm" routerLink="/about" i18n>Read more »</a></p>
    </div>
    <div class="col-md-3">
        <h2 i18n>Offline App</h2>
        <p i18n>You can download our offline application and convert files on your PC without need to send files via the Internet. It works under Windows operating system (7 and above), installs in one click and doesn't require any 3rd-party software. It also can works via local area network in a browser.</p>
        <p><a class="btn btn-default btn-sm" routerLink="/download" i18n>Go to Download Page »</a></p>
    </div>
    <div class="col-md-3">
        <h2 i18n>Easy integration</h2>
        <p i18n>If you are developer and looking for a free solution to convert files to PDF, you can easily integrate with our REST or SOAP API from any platform in just few minutes. If you need to work offline, you can install our free Offline Application, which contains the same API services, and use it locally.</p>
        <p><a class="btn btn-default btn-sm" routerLink="/developers" i18n>That's what I need! »</a></p>
    </div>
    <div class="col-md-3">
        <h2 i18n>Really excellent?</h2>
        <p i18n>Your opinion is very important for us. Criticism and suggestions will be welcomed. We also collect data about files quality, their size and the time spent for converting to analyze it and make our service more better. You can evaluate work of our service at any time by viewing statistics of its work.</p>
        <p><a class="btn btn-default btn-sm" routerLink="/statistics" i18n>View statistics »</a></p>
    </div>
</div>

<div id="supportedFormatsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" i18n>List of supported file formats:</h4>
            </div>
            <div class="modal-body">
                <p>{{supportedFormatsString}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" i18n>Close</button>
            </div>
        </div>

    </div>
</div>