<h3 i18n>Contact us</h3>
<p>
    <ng-container i18n>Hello! My name is Michael Andreyev. I'm a founder of this project and a single developer at this moment. I'm glad to answer your questions, read comments or get criticism or suggestions. Please contact with me via</ng-container>&nbsp;<a href="mailto:m@andreyev.work" i18n>e-mail</a><ng-container i18n>. You also can get more information about me on my</ng-container>&nbsp;<a href="https://andreyev.work" target="_blank" i18n>web-site</a>.
</p>
<p>
    <strong i18n>Michael Andreyev</strong>
    <br/>
    e-mail: <a href="mailto:m@andreyev.work">m@andreyev.work</a>
    <br/>
    www: <a href="https://andreyev.work" target="_blank">andreyev.work</a>
</p>
