<p class="paragraph-main">
<span class="text-main" i18n>Our goal is to create easy to use free tool for converting files to PDF with maximum possible quality.</span>
<ng-container i18n>Our users can convert files to PDF with a minimum of effort and without need to pay or see ad. They also can do it offline.</ng-container>
</p>
<p class="paragraph-main">
<span class="text-main" i18n>Our tool is oriented, first of all, to developers who need to implement export to PDF in their own pojects, which mostly causes serious problems.</span>
<ng-container i18n>The fact is that qualitative commersial offline tools are very expensive (the price can be of many tens of thousand dollars), online tools can't be applied in many situations by security directives, while free products can't provide a good quality or require a lot of efforts for implementation. That's why decided to solve this problems in our tool.</ng-container>
</p>
<p class="paragraph-main">
<ng-container i18n>At this moment our offline tool can be installed only on Windows machines, because it have some dependencies on Windows libraries, but in the future we plan to solve this questions and release versions for Linux and MacOS. Our tool is absolutely free to use, but it's not open source.</ng-container>
<span class="text-main" i18n>At definite stage we plan to make our project open source, allowing everyone to contribute to it.</span>
</p>
<p class="paragraph-main"><ng-container i18n>If you have any questions, please,</ng-container>&nbsp;<a routerLink="../contact-us" i18n>contact us</a><ng-container i18n>, we'd be glad to answer you.</ng-container></p>
<p class="paragraph-main"><ng-container i18n>You also can learn more about technologies that we are used on the</ng-container>&nbsp;<a routerLink="../technologies" i18n>Technologies</a><ng-container i18n> page.</ng-container></p>