<h2 i18n>Download</h2>
<!--<h3>GetPDF.online Converter</h3>
<button type="button" class="btn btn-lg btn-danger">Download</button>-->
<div class="row">
    <div class="col-md-9">
<div class="panel panel-default">
  <div class="panel-body">
    <h4 i18n>GetPDF.online Converter</h4>
    <ng-container i18n>Offline application for converting files to PDF that replies all functionality of the online tool. It's a web application runs as Windows Service that can works on the local PC or via Local Area Network.</ng-container>
  </div>
    <table class="table">
        <tr>
            <th i18n>Version:</th>
            <td>0.9.0.0</td>
        </tr>
        <tr>
            <th i18n>Date published:</th>
            <td>{{datePublished | date:'shortDate'}}</td>
        </tr>
        <tr>
            <th i18n>Supported Operating System:</th>
            <td>Windows 10, Windows 7 Service Pack 1, Windows 8.1, Windows Server 2008 R2 SP1, Windows Server 2012, Windows Server 2012 R2, Windows Server 2016</td>
        </tr>
        <tr>
            <th i18n>Prerequisites:</th>
            <td><a href="http://go.microsoft.com/fwlink/?linkid=780601" target="_blank">Microsoft .NET Framework 4.6.2</a></td>
        </tr>
        <tr>
            <th i18n>Minimum Hardware Requirements:</th>
            <td i18n>1 GHz or faster processor, 1 GB of RAM, 700 MB of available hard disk space</td>
        </tr>
        <tr>
            <th i18n>File Name:</th>
            <td>GetPdfOnlineInstaller-0.9.0.0.msi</td>
        </tr>
        <tr>
            <th i18n>File Size:</th>
            <td i18n>150 Mb</td>
        </tr>
    </table>
  <div class="panel-footer" i18n>
      <a href="http://download.getpdf.online/GetPdfOnlineInstaller-0.9.0.0.msi" class="btn btn-lg btn-danger">Download</a>
  </div>
</div>
    </div>
</div>