<h2 i18n>Statistics</h2>
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" i18n>Summary</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <ng-container i18n>Total queries count:</ng-container> {{summaryStat?.totalCount}} <small class="text-muted">({{summaryStat?.positiveResultCount}} <ng-container>Good</ng-container>, {{summaryStat?.negativeResultCount}} <ng-container>Bad</ng-container>)</small>
                </li>
                <li class="list-group-item">
                    <ng-container i18n>First request:</ng-container> {{summaryStat?.firstRequestDateUtc | date:'medium'}}
                </li>
                <li class="list-group-item">
                    <ng-container i18n>Last request:</ng-container> {{summaryStat?.lastRequestDateUtc | date:'medium'}}
                </li>
                <li class="list-group-item">
                    <ng-container i18n>Average query duration (sec):</ng-container> {{summaryStat?.durationInSecondsAvg | number:'1.0-2'}} <small class="text-muted">(<ng-container i18n>Min</ng-container> {{summaryStat?.durationInSecondsMin | number:'1.0-2'}}, <ng-container i18n>Max</ng-container> {{summaryStat?.durationInSecondsMax | number:'1.0-2'}})</small>
                </li>
                <li class="list-group-item">
                    <ng-container i18n>Average input file size (Kb):</ng-container> {{summaryStat?.fileSizeAvg / 1024 | number:'1.0-2'}} <small class="text-muted">(<ng-container i18n>Min</ng-container> {{summaryStat?.fileSizeMin / 1024 | number:'1.0-2'}}, <ng-container>Max</ng-container> {{summaryStat?.fileSizeMax / 1024 | number:'1.0-2'}})</small>
                </li>
                <li class="list-group-item">
                    <ng-container i18n>Average output file size (Kb):</ng-container> {{summaryStat?.resultFileSizeAvg / 1024 | number:'1.0-2'}} <small class="text-muted">(<ng-container>Min</ng-container> {{summaryStat?.resultFileSizeMin / 1024 | number:'1.0-2'}}, <ng-container>Max</ng-container> {{summaryStat?.resultFileSizeMax / 1024 | number:'1.0-2'}})</small>
                </li>
                <li class="list-group-item">
                    <ng-container i18n>Total traffic (Kb):</ng-container> {{summaryStat?.totalFileSizeSum / 1024 | number:'1.0-2'}} <small class="text-muted">(<ng-container i18n>Input</ng-container> {{summaryStat?.fileSizeSum / 1024 | number:'1.0-2'}}, <ng-container>Output</ng-container> {{summaryStat?.resultFileSizeSum / 1024 | number:'1.0-2'}})</small>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" i18n>File types</h3>
            </div>
            <div class="panel-body">
                <p-chart type="pie" [data]="statByFileCategoriesChartData" *ngIf="isClientSide"></p-chart>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right" style="margin-top:-6px;">
                    <p-calendar [(ngModel)]="selectedDate" (onSelect)="dateSelected()"></p-calendar>
                </div>
                <h3 class="panel-title" i18n>Daily stat</h3>
            </div>
            <div class="panel-body">
                <p-chart type="line" [data]="dailyStatChartData" *ngIf="isClientSide"></p-chart>
            </div>
        </div>
    </div>
</div>