<h2>Developers</h2>
<!--<nav>
  <a routerLink="overview" routerLinkActive="active">Overview</a>
  <a routerLink="rest-api" routerLinkActive="active">Rest Api</a>
  <a routerLink="soap-api" routerLinkActive="active">Soap Api</a>
  <a routerLink="use-offline" routerLinkActive="active">Use offline</a>
  <a routerLink="net-libraries" routerLinkActive="active">.NET libraries</a>
  <a routerLink="source-code" routerLinkActive="active">Source code</a>
</nav>-->

<!--<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>-->
<ul class="nav nav-tabs">
  <li routerLinkActive="active"><a routerLink="overview">Overview</a></li>
  <li routerLinkActive="active"><a routerLink="rest-api">Rest API</a></li>
  <li routerLinkActive="active"><a routerLink="soap-api">Soap API</a></li>
</ul>
<!--<div class="btn-group">
  <button type="button" class="btn btn-danger">Overview</button>
  <button type="button" class="btn btn-default">Rest API</button>
  <button type="button" class="btn btn-default">Soap API</button>
</div>
<br/>-->
<router-outlet></router-outlet>