/* You can add global styles to this file, and also import other style files */

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.jumbotron {
    border-color: #ccc;
    border-style: dashed;
    border-width: 2px;
    margin-bottom: 20px;
}

.pdf-icon {
    background-image:url(assets/images/pdf-icon-48.png);
    height: 48px;
    width: 48px;
    display:inline-block;
    vertical-align: middle;
}

.pdf-info {
    display:inline-block;
    vertical-align: middle;
}

.pdf-info a {
    display: block;
}

.error-icon {
    background-image:url(assets/images/error-icon-48.png);
    height: 48px;
    width: 48px;
    display:inline-block;
    vertical-align: middle;
}

.hidden-file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

pre {
    font-size: 14px;
}

pre[class*="language-"]:before, pre[class*="language-"]:after {
    box-shadow: none;
}

/*.btn-primary {
    background-color: #c81b00;
    border-color: #a71700;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #bb1900;
    border-color: #ad1700;
}

.btn-primary:hover {
    color: #fff;
    background-color: #be1900;
    border-color: #a61600;
}*/