<h3>Overview</h3>
<p>
    You can easily integrate with one of two our APIs from any platform:
</p>
<p>
    <a asp-area="" asp-controller="Rest" asp-action="Index">Rest API</a> - uses JSON message format and provides truly simple method of integration.
</p>
<p>
    <a asp-area="" asp-controller="Soap" asp-action="Index">Soap API</a> - uses XML message format and contains a standards-based Web services that mostly used in enterpise systems.
</p>
<p>
    You can work with our API online or you can install our free Offline Application, which contains the same API services, and use it locally.
</p>
<h3>Your first integration</h3>
<p>
    Create a file "convert.html" on your PC with the content listed below, open it and convert anything to PDF.
    Congratulations! You've just successfully integrated with our <a asp-area="" asp-controller="Rest" asp-action="Index">Rest API</a>.
</p>
<prism-block [code]="htmlCode" [language]="'html'"></prism-block>
