<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="WIN_APPLICATION_DIR">
            <Component Id="cmp4B5AE885BBFDD172E831972B09C33089" Guid="{EE9BBFB3-5E12-46B6-B09A-8232111BA504}">
                <File Id="fil55C7186DB790D1C6C6B2E4A967F92234" KeyPath="yes" Source="$(var.WIN_APPLICATION_SOURCE)\PrecizeSoft.GetPdfOnline.Win.WpfApp.exe.config" />
            </Component>
            <Component Id="cmpBB27AEDBF85E1B79E937CEC14AEDA253" Guid="{6C11F6B5-43D0-4B50-AF55-35C95BD4BCCA}">
                <File Id="fil3924CD66492E8DAC7824E7D9663B93B2" KeyPath="yes" Source="$(var.WIN_APPLICATION_SOURCE)\PrecizeSoft.GetPdfOnline.Win.WpfApp.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="WinApplicationComponentGroup">
            <ComponentRef Id="cmp4B5AE885BBFDD172E831972B09C33089" />
            <ComponentRef Id="cmpBB27AEDBF85E1B79E937CEC14AEDA253" />
        </ComponentGroup>
    </Fragment>
</Wix>