<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" Name="GetPDF.online Converter" Language="1033" Version="1.0.0.0" Manufacturer="PrecizeSoft" UpgradeCode="1d5d1b0f-0e3d-4058-8964-0d6d5ac7a205">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <Media Id="1" Cabinet="setup.cab" CompressionLevel="high" EmbedCab="yes" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<!--<MediaTemplate />-->

    <WixVariable Id="WixUILicenseRtf" Value="..\..\Docs\LICENSE.rtf" />
    
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED" />
    <Condition Message="This application requires .NET Framework 4.6.2. Please install the .NET Framework then run this installer again. Download page: http://go.microsoft.com/fwlink/?linkid=780601">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED]]>
    </Condition>    
    <!--<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />-->
    <Property Id="ApplicationFolderName" Value="GetPDF.online" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <WixVariable Id="WixUISupportPerUser" Value="0" />
    
    <UIRef Id="WixUI_Advanced"/>
    <UIRef Id="WixUI_ErrorProgressText" />
    
    <Feature Id="ProductFeature" Title="GetPDF.online Converter" Level="1" ConfigurableDirectory="APPLICATIONFOLDER" Display="expand" Absent="disallow" AllowAdvertise="no" InstallDefault="local">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ProductMenuComponents" />
      <Feature Id="ServiceFeature" Title="Converter Service" Level="1" AllowAdvertise="no" InstallDefault="local">
        <ComponentGroupRef Id="ServiceComponents" />
        <Feature Id="LibreOfficePortableFeature" Title="LibreOffice Portable 5.3.0" Level="1" ConfigurableDirectory="LIBRE_OFFICE_PORTABLE_DIR" AllowAdvertise="no" InstallDefault="local">
          <ComponentGroupRef Id="LibreOfficePortableComponents" />
        </Feature>
      </Feature>
      <Feature Id="WinApplicationFeature" Title="Desktop Application" Level="1" AllowAdvertise="no" InstallDefault="local">
        <ComponentGroupRef Id="WinApplicationComponents" />
      </Feature>
      <Feature Id="WebApplicationFeature" Title="Web Application" Level="1" AllowAdvertise="no" InstallDefault="local">
        <ComponentGroupRef Id="WebApplicationComponents" />
      </Feature>
    </Feature>

  </Product>

	<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONFOLDER" Name="GetPDF.online">
          <Directory Id="SERVICE_DIR" Name="Service">
            <Directory Id="LIBRE_OFFICE_PORTABLE_DIR" Name="LO">

            </Directory>
          </Directory>
          <Directory Id="WIN_APPLICATION_DIR" Name="DesktopApp">

          </Directory>
          <Directory Id="WEB_APPLICATION_DIR" Name="WebApp">
            
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationMenuFolder" Name="GetPDF.online Converter"/>
      </Directory>
    </Directory>
	</Fragment>

  <Fragment>
    <Icon Id="PdfIcon.ico" SourceFile="Images\PdfIcon.ico"/>
    <Icon Id="ServiceIcon.ico" SourceFile="Images\ServiceIcon.ico"/>
    <Icon Id="SettingsIcon.ico" SourceFile="Images\SettingsIcon.ico"/>
    <Icon Id="ReadmeIcon.ico" SourceFile="Images\InfoIcon.ico"/>

  </Fragment>
  
  <Fragment>
    <DirectoryRef Id="SERVICE_DIR">
      <Component Id="cmpD0FC73DC886BB5294C22AA81ACA10C12" Guid="{46C94B6F-C81F-4662-A457-5DFAEECF356B}">
        <File Id="fil06755741E7363ECB8A1306B87AD71541" KeyPath="yes" Source="$(var.SERVICE_SOURCE)\GetPdfOnlineService.exe" />
        <ServiceInstall Id="ConverterServiceInstaller" Type="ownProcess" Vital="yes" Name="GetPdfOnlineService" DisplayName="GetPDF.online API Service"
                        Description="Provides service for converting files to PDF" Start="auto" ErrorControl="normal" />
        <ServiceControl Id="ConverterServiceControl" Start="install" Stop="both" Remove="uninstall" Name="GetPdfOnlineService" Wait="yes" />
      </Component>
      <Component Id="cmpB47BB2D86AD592EBE0976C3B973CC5B1" Guid="{78C03E94-4024-4B5B-AB47-8FE8778A9E05}">
        <File Id="fil4E16DF401121DB510F727FD96219AB26" KeyPath="yes" Source="$(var.SERVICE_SOURCE)\usersettings.txt">
          <Shortcut Id="ServiceConfigurationShortcut" Name="Configure API Service" Description="Edit API Service configuration file"
                    Directory="ApplicationMenuFolder" Advertise="yes" WorkingDirectory="SERVICE_DIR" Icon="SettingsIcon.ico" IconIndex="0" />
        </File>
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="WIN_APPLICATION_DIR">
      <Component Id="cmpBE5776B9F5E86B6E1364A8194DEC93A1" Guid="{2DE0EDCE-5E26-46B2-A282-50255BBAFFD6}">
        <File Id="fil245AE2FC6593DF036CF1738BFC5A4BBE" KeyPath="yes" Source="$(var.WIN_APPLICATION_SOURCE)\PrecizeSoft.GetPdfOnline.Win.WpfApp.exe">
          <Shortcut Id="WinApplicationShortcut" Name="GetPDF.online Desktop App" Description="Desktop Application for converting files to PDF"
                    Directory="ApplicationMenuFolder" Advertise="yes" WorkingDirectory="WIN_APPLICATION_DIR" Icon="PdfIcon.ico" IconIndex="0" />
        </File>
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="WEB_APPLICATION_DIR">
      <Component Id="cmpD2CC10B5FEFED30C61D234201854FF0A" Guid="{B22278CC-EEE4-4A6D-A5B1-CE7AB7CD16DE}">
        <File Id="fil825D9587FAF32F448E7E9B2DC376DCA3" KeyPath="yes" Source="$(var.WEB_APPLICATION_SOURCE)\PrecizeSoft.GetPdfOnline.Web.MvcCoreApp.exe" />
        <ServiceInstall Id="WebApplicationServiceInstaller" Type="ownProcess" Vital="yes" Name="GetPdfOnlineWebApplication" DisplayName="GetPDF.online Web Application"
                        Description="Web application for converting files to PDF" Start="auto" ErrorControl="normal" Arguments="--run-as-service" />
        <ServiceControl Id="WebApplicationServiceControl" Start="install" Stop="both" Remove="uninstall" Name="GetPdfOnlineWebApplication" Wait="yes" />
      </Component>
      <Component Id="cmp96427A6EC0B1BCCC75C6937861095C19" Guid="{7BC18F00-5EDC-4292-8C87-E8F57317431F}">
        <File Id="fil14A13969420A4B4C60A9A5618A5D9EB3" KeyPath="yes" Source="$(var.WEB_APPLICATION_SOURCE)\usersettings.txt">
          <Shortcut Id="WebApplicationConfigurationShortcut" Name="Configure Web App" Description="Edit Web Application configuration file"
                    Directory="ApplicationMenuFolder" Advertise="yes" WorkingDirectory="WEB_APPLICATION_DIR" Icon="SettingsIcon.ico" IconIndex="0" />
        </File>
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="APPLICATIONFOLDER">
      <Component Id="WebApplicationLauncher" Guid="{5FFF2674-1F51-4053-98E0-5446D45A5055}">
        <File Id="WebApplicationUrl" KeyPath="yes" Source="GetPDF.online Web application.url">
          <Shortcut Id="WebApplicationShortcut" Name="GetPDF.online Web App" Description="Web Application for converting files to PDF"
                    Directory="ApplicationMenuFolder" Advertise="yes" WorkingDirectory="APPLICATIONFOLDER" Icon="PdfIcon.ico" IconIndex="0" />
        </File>
      </Component>
      <Component Id="ServiceLauncher" Guid="{310C729C-6C70-4F53-843B-2B3CC17FA416}">
        <File Id="ServiceUrl" KeyPath="yes" Source="GetPDF.online API Service.url">
          <Shortcut Id="ServiceShortcut" Name="GetPDF.online API Service" Description="API Service for converting files to PDF"
                    Directory="ApplicationMenuFolder" Advertise="yes" WorkingDirectory="APPLICATIONFOLDER" Icon="ServiceIcon.ico" IconIndex="0" />
        </File>
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ServiceComponents" Directory="SERVICE_DIR">
      <ComponentGroupRef Id="ServiceComponentGroup" />
      <ComponentRef Id="cmpD0FC73DC886BB5294C22AA81ACA10C12" />
      <ComponentRef Id="cmpB47BB2D86AD592EBE0976C3B973CC5B1" />
      <ComponentRef Id="ServiceLauncher"/>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="WinApplicationComponents" Directory="WIN_APPLICATION_DIR">
      <ComponentGroupRef Id="WinApplicationComponentGroup"/>
      <ComponentRef Id="cmpBE5776B9F5E86B6E1364A8194DEC93A1" />
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="WebApplicationComponents" Directory="WEB_APPLICATION_DIR">
      <ComponentGroupRef Id="WebApplicationComponentGroup"/>
      <ComponentRef Id="cmpD2CC10B5FEFED30C61D234201854FF0A" />
      <ComponentRef Id="cmp96427A6EC0B1BCCC75C6937861095C19" />
      <ComponentRef Id="WebApplicationLauncher"/>
    </ComponentGroup>
  </Fragment>
  
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="APPLICATIONFOLDER">
      <Component Id="LicenseComponent" Guid="{52D95191-ACAA-4581-B650-1B33690FEA35}">
        <File Id="LICENSE.rtf" KeyPath="yes" Source="..\..\Docs\LICENSE.rtf" />
      </Component>
      <Component Id="ReadmeComponent" Guid="{3088A78E-E784-455B-876A-4073FE6F7EA7}">
        <File Id="README.txt" KeyPath="yes" Source="..\..\Docs\README.txt">
          <Shortcut Id="ReadmeShortcut" Name="Readme" Description="Information about application usage and setup"
                    Directory="ApplicationMenuFolder" Advertise="yes" WorkingDirectory="APPLICATIONFOLDER" Icon="ReadmeIcon.ico" IconIndex="0" />
        </File>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="ProductMenuComponents" Directory="ApplicationMenuFolder">
      <Component Id="ProductMenuShortcutComponent" Guid="{2FD9B999-A317-4209-8342-84E3C61CCD3B}">
        <!--!!!!!!!!!For x64 System Targed should be changed to System64Folder-->
        <!--<Shortcut Id="UninstallProduct"
                  Name="Uninstall GetPDF.online Converter"
                  Description="Uninstalls GetPDF.online Converter"
                  Target="[SystemFolder]msiexec.exe"
                  Arguments="/x [ProductCode]"/>-->
        <RemoveFolder Id="ApplicationMenuFolder" On="uninstall"/>
        <RegistryValue Root="HKMU" Key="Software\PrecizeSoft\GetPdf.online" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="LibreOfficePortableComponents" Directory="LIBRE_OFFICE_PORTABLE_DIR">
      <!--<ComponentGroupRef Id="LibreOfficePortableComponentGroup" />-->
    </ComponentGroup>
  </Fragment>
</Wix>
